:ruby
  AwesomeForm.theme = params[:theme] if params[:theme].present?

  m = User.new
  a = %w(text string number range datetime boolean file select select_multiple check_boxes radios)

  if params[:with_errors].present?
    a.each do |k|
      m.errors.add(k, 'this is the error message')
    end
  end

= stylesheet_link_tag AwesomeForm.theme, media: "all"
= javascript_include_tag AwesomeForm.theme

= link_to 'with errors', styles_path(with_errors: 1)
= link_to 'without errors', styles_path

= awesome_form_for m, url: '#', method: :get do |form|

  = form.inputs legend: 'Inputs', inputs_html: { class: 'red' } do
    = form.input :text, as: :text
    = form.input :string, as: :string, input_html: { value: 'bar' }
    = form.input :number, as: :number, input_html: { min: 1, max: 10, step: 1, value: 5 }
    = form.input :range, as: :range, input_html: { min: 1, max: 10, step: 1, value: 5}
    = form.input :datetime, as: :datetime, input_html: { min: 1.day.ago, max: 1.day.from_now, value: Time.now }
    = form.input :boolean, as: :boolean, input_html: { value: 1 }
    = form.input :file, as: :file
    = form.input :select, as: :select, collection: %w(a b c d e f g h i j k l)
    = form.input :select_multiple, as: :select, collection: %w(a b c d e f g h i j k l), multiple: true
    = form.input :check_boxes, as: :check_boxes, collection: %w(a b c d e f g h i j k l), columns: 3
    = form.input :radios, as: :radios, collection: %w(a b c d e f g h i j k l), columns: 3

  = form.actions :reset, :cancel, :submit
