:ruby
  wrapper_html ||= {}
  label_html ||= {}

  has_error = object.errors.messages[attribute_name].present?

  wrapper_error_class = has_error ? AwesomeForm.default_input_wrapper_error_class : nil

  wrapper_attrs = {
    class: [
      AwesomeForm.default_input_wrapper_class,
      wrapper_error_class,
      model_name,
      attribute_name,
      type,
      wrapper_html.delete(:class),
    ].compact.join(' '),
  }.merge(wrapper_html)

  label_attrs = {
    for: builder.input_id(attribute_name),
    class: [
      AwesomeForm.default_label_class,
      label_html.delete(:class)
    ].compact.join(' '),
  }.merge(label_html)

%div{wrapper_attrs}
  %label{label_attrs}
    - if required
      = builder.render_partial AwesomeForm.default_required_template, locals: locals
    = builder.input_label(attribute_name)
  %output{for: builder.input_id(attribute_name)}
  .controls= yield
  - if has_error
    = builder.render_partial 'inputs/errors', locals: locals

  - if defined?(hint) && hint.present?
    = builder.render_partial 'wrappers/hints', locals: locals
