:ruby
  selected ||= []
  columns ||= 1
  row = 0

  get_attrs = Proc.new { |id, value, label|
    builder.attributes_for :input, input_html, {
      name: builder.collection_name(attribute_name),
      id: id,
      type: :checkbox,
      class: AwesomeForm.default_input_class,
      value: value,
      checked: selected.include?(value),
    }
  }

- if columns > 1

  - collection.each_slice(columns) do |slice|
    %div{ class: AwesomeForm.default_row_class }
      - column = 0
      - slice.each do |value, label|
        :ruby
          id = "#{builder.input_id(attribute_name)}_#{(label || value).to_s.underscore}"
        %div{ class: "#{AwesomeForm.default_column_class} #{builder.column_class_for columns, row, column}" }
          %input{get_attrs.call(id, value, label)}
          %label{for: id}= label || value.to_s.humanize

        - column += 1
      - row += 1

- else
  - collection.each do |value, label|
    :ruby
      id = "#{builder.input_id(attribute_name)}_#{(label || value).to_s.underscore}"
    %div
      %input{get_attrs.call(id, value, label)}
      %label{for: id}= label || value.to_s.humanize


